.characters-carousel-container {
    position: relative;
}

.characters-carousel-container .characters-carousel {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.characters-carousel-container .characters-carousel::-webkit-scrollbar {
    display: none;
}

.characters-carousel-container .characters-carousel .character-guess-card {
    flex: 0 0 auto;
}

.characters-carousel-container .carousel-btn-wrapper {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: -48px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 150ms ease-in;
    z-index: 50;
}

.characters-carousel-container .carousel-btn-wrapper:hover {
    right: -52px;
}

.characters-carousel-container .carousel-btn-wrapper .bi {
    transform: scale(2);
}