.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-xlarge);
    text-align: center;
}

.Home .select-character-cards-container {
    padding: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--margin-large);
    transition: transform 0.5s ease-in-out;
}

.Home>.home-text-container {
    padding: var(--margin-base) var(--margin-large);
    border-radius: var(--margin-xlarge);
}

.Home>.home-text-container>h2 {
    font-size: clamp(var(--font-size-xxlarge), 3vw, var(--font-size-xxlarge));
}

.Home .carousel-container {
    width: 800px;
}



/*----------------------------------------------------------------------------------------------------*/


@media (max-width:920px) {
    .Home .carousel-container {
        width: 544px;
    }
}

@media (max-width:660px) {
    .Home .carousel-container {
        width: 100vw;
    }

    .characters-carousel-container .carousel-btn-wrapper {
        top: 400px !important;
        right: 15vw !important;
    }
}