.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: var(--margin-xlarge);
}

.select-character-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--margin-large);
    margin-bottom: var(--margin-xlarge);
}